:root {
  --primary-color: #ff900e;
  --header-bg: rgba(255, 144, 14, 0.1);
  --menu-text-color: #424242;
  --footer-bg: #fff4e7;
  --paragraph-text-color: #727272;
  --black: #131313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* --------------------common styles-----------------  */

a {
  text-decoration: none;
  color: var(--menu-text-color);
}


li {
  list-style: none;
}
p {
  line-height: 25px;
}

.btn-primary {
  color: #ffffff;
  background-color: var(--primary-color);
  border: 0;
  padding: 20px 25px;
  border-radius: 8px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}
.btn-primary:hover{
transform: scale(1.1);

}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 60px 0;
}

.hr{
  display: none;
  margin-bottom: 30px;
}

/*------------------- header style------------------------  */

header {
  background-color: var(--header-bg);
}
.nav {
  display: flex;
  justify-content: space-between;
}

.logo >h1 {
  font-weight: 700;
font-size: 45px
}

.nav-items > ul {
  display: flex;
  gap: 70px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.nav-item{
  transition: .3s;
}
.nav-item:hover{
  transform: scale(1.3);
 
}

/*---------------------- banner styles-------------- */


.banner-text {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 0 50px;
}
.banner-headline {
  color: var(--black);
  font-size: 50px;
  font-weight: 700;
}
.banner-description,
.feature-description {
  margin-top: 15px;
}

.banner-image > img {
  width: 100%;
  object-fit: cover;
}

/* -------------quick-list-features styles------------  */

.quick-list-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-text, .contact-text {
  padding: 70px;
}

.feature-headline {
  color: var(--menu-text-color);
  font-size: 45px;
  font-weight: 500;
}

.feature-headline .headline-black-color {
  color: var(--black);
  font-weight: 700;
}
.feature-headline .headline-primary-color {
  color: var(--primary-color);
  font-weight: 700;
}

/* features items section  styles */
.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  position: relative;
}
.feature-text .features-items-headline {
  font-size: 45px;
  font-weight: 600;
  border-left: 5px solid var(--primary-color);
  padding-left: 20px;
}

.features-items-description {
  margin: 25px 0;
}
.feature-item-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.features p {
  margin: 24px 0;
}
.features-card {
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.feature-title {
  margin: 10px 0;
}

.feature-image img {
  object-fit: cover;
}
.feature{
  position: relative;
}
 .feature .floating-card-text {
  background-color: var(--primary-color);
  width: 342px;
  height: 200px;
  border-radius: 8px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
 bottom: -5%;
 left: 50%;
 
 transform: translate(-50%, -50%);
}
.floating-card-text > h1 {
  font-size: 45px;
  font-weight: 700;
}

/* --------------fact section styles ----------------- */
.fact-text{
    width: 50%;
}
.fact-text > h1{
    font-size: 45px;
}
.fact-text > p{
    margin: 25px 0;
}
.fact-card-group{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    padding: 50px 0;

}
.fact-card{
    height: 240px;
    width: 240px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0 var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.fact-card:hover{
    
    border: 1px solid var(--primary-color);
    color: #fff;
box-shadow: inset 240px 0 0 0 var(--primary-color);
    
}
.card-title{
    font-size: 45px;
    margin: 5px 0;
}
.card-text{
    font-size: 20px;
    font-weight: 600;
    color: var(--menu-text-color);

}

/* sponsor section styles */

.sponsor-text{
  text-align: center;
}
.sponsor-title{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sponsor-icon-group{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.sponsor-icon-group > img{
  filter: grayscale();
}

/* contact section styles  */

.contact{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
 
  
}

.contact-headline{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.contact-left-section, .contact-form{
  width: 100%;
}
.contact-left-image{
  text-align: center;
}

/* .contact-form{ */
form{
  border: 1px solid var(--primary-color);
  padding: 25px;
  background-color: var(--header-bg);
  border-radius: 8px;
  margin: 0 30px;
}
.contact-form > form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input[type="text"], input[type="email"] , input[type="tel"], textarea{
  margin-bottom: 24px;
  border: 1px solid var(--primary-color);
  padding: 18px 30px;
  border-radius: 8px;
}
label{
  font-size: 20px;
  font-weight: 500;
}
.msg-btn{
  width: 80%;
  margin: 0 auto;
}

/* footer styles  */

.footer{
  padding: 25px;
  background-color: var(--footer-bg);
  text-align: center;
  margin-bottom: 100px;
}

/* -------------------------responsive styles starts here------------------  */


@media only screen and (max-width: 576px) {

  .container{
    padding: 30px 0;
  }

  .btn-primary{
    font-size: 16px;
    padding: 10px 15px;
  }
  .hr{
    display: block;
  }

  /* header responsive */

  .nav{
    flex-direction: column;
    align-items: center;
  }
  .nav-items > ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

/* banner responsive  */

.banner-text{
  width: 90%;
}
.banner-headline{
  font-size: 35px;
}

/* quick list feature responsive */

.quick-list-features {
 flex-direction: column;
}

.feature-images {
  
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.feature-headline{
  font-size: 35px;
}

.feature-text{
  padding-bottom: 5px;
}

/* feature items section responsive */
.feature-section {
  flex-direction: column;
}
.feature-text .features-items-headline {
  font-size: 35px;
  
}

.feature-image img {
  
  width: 100%;
}
.floating-card-text {
  
  position: relative;
 bottom: 100px;
 left: 10%;
}


/* fact section responsive  */
.fact-text{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.fact-card-group{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  padding: 5px 0;
}


/* sponsor section responsive */

.sponsor-icon-group{
  flex-direction: column;
  margin: 30px 0;
  align-items: center;
  gap: 30px;
}


/* contact responsive */

.contact{
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
 
 
  
}

.contact-text{
  text-align: center;
}
.contact-left-image > img{
  object-fit: cover;
  width: 100%;
}



}